<launch>

  <!-- 
    LAUNCH FILE: DISPLAY
    Use this to visualize the robot model in Rviz.
  -->

  <arg name="model" default="$(find sme_robot_mobile_description)/urdf/sme_robot_mobile_robot.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find sme_robot_mobile_description)/rviz/rviz.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>

  <!-- GUI to control joints manually -->
  <node if="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
